.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: wheat;
  min-height: 100vh;
}

.App p {
  font-size: 32px;
  color: #b71c1c;
  font-weight: 800;
}
